### Imports

In [2]:
import pandas as pd
import numpy as np

### Leitura de dados

In [6]:
test = pd.read_csv('data/desafio 2/conjunto_de_teste_1.csv')
train = pd.read_csv('data/desafio 2/conjunto_de_treinamento.csv')

test['origem'] = 'teste'
train['origem'] = 'treino'
# house pricing df
hp_df = pd.concat([test, train])

hp_df

,Id,tipo,bairro,tipo_vendedor,quartos,suites,vagas,area_util,area_extra,diferenciais,...,piscina,playground,quadra,s_festas,s_jogos,s_ginastica,sauna,vista_mar,origem,preco
0,0,Apartamento,Pina,Imobiliaria,4,4,3,182,0,copa e playground,...,0,1,0,0,0,0,0,0,teste,NaN
1,1,Apartamento,Tamarineira,Imobiliaria,2,0,1,85,0,nenhum,...,0,0,0,0,0,0,0,0,teste,NaN
2,2,Apartamento,Boa Viagem,Imobiliaria,3,1,2,115,20,piscina e churrasqueira,...,1,0,0,0,0,0,0,0,teste,NaN
3,3,Apartamento,Iputinga,Imobiliaria,3,0,1,92,0,nenhum,...,0,0,0,0,0,0,0,0,teste,NaN
4,4,Apartamento,Engenho do Meio,Imobiliaria,3,1,1,65,0,piscina e copa,...,1,0,0,0,0,0,0,0,teste,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4678,6678,Apartamento,Boa Viagem,Imobiliaria,4,4,3,170,0,piscina e churrasqueira,...,1,0,0,0,0,0,0,0,treino,1200000.0
4679,6679,Apartamento,Setubal,Imobiliaria,2,0,1,82,0,churrasqueira,...,0,0,0,0,0,0,0,0,treino,258000.0
4680,6680,Apartamento,Torre,Imobiliaria,3,1,1,75,0,nenhum,...,0,0,0,0,0,0,0,0,treino,252000.0
4681,6681,Apartamento,Casa Amarela,Imobiliaria,3,2,3,136,0,piscina e copa,...,1,0,0,0,0,0,0,0,treino,780000.0
4682,6682,Apartamento,Madalena,Imobiliaria,3,1,2,84,0,piscina e playground,...,1,1,0,0,0,0,0,0,treino,577035.0

#### Missing values

In [5]:
hp_df.isna().sum()

Id                   0
tipo                 0
bairro               0
tipo_vendedor        0
quartos              0
suites               0
vagas                0
area_util            0
area_extra           0
diferenciais         0
churrasqueira        0
estacionamento       0
piscina              0
playground           0
quadra               0
s_festas             0
s_jogos              0
s_ginastica          0
sauna                0
vista_mar            0
preco             2000
dtype: int64

#### Types

In [7]:
hp_df.dtypes

Id                  int64
tipo               object
bairro             object
tipo_vendedor      object
quartos             int64
suites              int64
vagas               int64
area_util           int64
area_extra          int64
diferenciais       object
churrasqueira       int64
estacionamento      int64
piscina             int64
playground          int64
quadra              int64
s_festas            int64
s_jogos             int64
s_ginastica         int64
sauna               int64
vista_mar           int64
origem             object
preco             float64
dtype: object

In [9]:
hp_df.select_dtypes(include=object)

,tipo,bairro,tipo_vendedor,diferenciais,origem
0,Apartamento,Pina,Imobiliaria,copa e playground,teste
1,Apartamento,Tamarineira,Imobiliaria,nenhum,teste
2,Apartamento,Boa Viagem,Imobiliaria,piscina e churrasqueira,teste
3,Apartamento,Iputinga,Imobiliaria,nenhum,teste
4,Apartamento,Engenho do Meio,Imobiliaria,piscina e copa,teste
...,...,...,...,...,...
4678,Apartamento,Boa Viagem,Imobiliaria,piscina e churrasqueira,treino
4679,Apartamento,Setubal,Imobiliaria,churrasqueira,treino
4680,Apartamento,Torre,Imobiliaria,nenhum,treino
4681,Apartamento,Casa Amarela,Imobiliaria,piscina e copa,treino
4682,Apartamento,Madalena,Imobiliaria,piscina e playground,treino

#### Encoding

In [11]:
obj_cols = ['tipo', 'bairro', 'tipo_vendedor', 'diferenciais']

def encode_string_col(df, col):
    df[col] = df[col].astype('category').cat.codes
    
for col in obj_cols:
    encode_string_col(hp_df, col)

In [12]:
hp_df

,Id,tipo,bairro,tipo_vendedor,quartos,suites,vagas,area_util,area_extra,diferenciais,...,piscina,playground,quadra,s_festas,s_jogos,s_ginastica,sauna,vista_mar,origem,preco
0,0,0,48,0,4,4,3,182,0,24,...,0,1,0,0,0,0,0,0,teste,NaN
1,1,0,63,0,2,0,1,85,0,50,...,0,0,0,0,0,0,0,0,teste,NaN
2,2,0,10,0,3,1,2,115,20,54,...,1,0,0,0,0,0,0,0,teste,NaN
3,3,0,38,0,3,0,1,92,0,50,...,0,0,0,0,0,0,0,0,teste,NaN
4,4,0,26,0,3,1,1,65,0,55,...,1,0,0,0,0,0,0,0,teste,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4678,6678,0,10,0,4,4,3,170,0,54,...,1,0,0,0,0,0,0,0,treino,1200000.0
4679,6679,0,59,0,2,0,1,82,0,9,...,0,0,0,0,0,0,0,0,treino,258000.0
4680,6680,0,65,0,3,1,1,75,0,50,...,0,0,0,0,0,0,0,0,treino,252000.0
4681,6681,0,15,0,3,2,3,136,0,55,...,1,0,0,0,0,0,0,0,treino,780000.0
4682,6682,0,43,0,3,1,2,84,0,60,...,1,1,0,0,0,0,0,0,treino,577035.0

In [13]:
hp_df.to_csv('data/desafio 2/hp_from_eda.csv', index=False)